
@{
    ViewBag.Title = "Trade";
}
@{
    Layout = null;
}
<h2>Trade</h2>
<html>
<head>
    <title>SkinToWin</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
</head>

<body>

    <form name="myform" action="AddTradeUrl" method="POST">
        <div align="center">
            <br><br>
            <input type="text" size="25" placeholder="Enter your steam trade url here" name="tradeUrl">
            <br><br>
        </div>
    </form>
</body>
</html>
